.cf(ng-model='artists')
  .panel.panel-primary
    .panel-heading
      h1 {{artists[whichItem].name}}
    .panel-body
      .col-xs-3
          img.img-responsive.img-rounded(ng-src='images/{{artists[whichItem].shortname}}_tn.jpg', alt='Photo of {{artists[whichItem].name}}')
      .col-xs-9
          h3 {{artists[whichItem].reknown}}
          {{artists[whichItem].bio}}
          p
            a(href='/') « Back to search
